# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
dev.log
build.log

# env files
.env
.env*.local

# vercel
.vercel

# report locale di scripts/fix-images.mjs
scripts/.fix-images-report.json
